@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Tungsten";
  src:
    url("./assets/fonts/Tungsten/Tungsten-Semibold.woff2") format("woff2"),
    url("./assets/fonts/Tungsten/Tungsten-Semibold.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
  cursor: none;
  background-color: #000;
  overscroll-behavior: none;
}

.ui-initial {
  opacity: 0;
}
