@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Tungsten";
  src:
    url("./assets/fonts/Tungsten/Tungsten-Semibold.woff2") format("woff2"),
    url("./assets/fonts/Tungsten/Tungsten-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Tungsten";
  src:
    url("./assets/fonts/Tungsten/Tungsten-Semibold.woff2") format("woff2"),
    url("./assets/fonts/Tungsten/Tungsten-Semibold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

body {
  cursor: none;
  overscroll-behavior: none;
}

h1 {
  font-kerning: none;
  -webkit-text-rendering: optimizeSpeed;
  text-rendering: optimizeSpeed;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.heading--1 {
  font-family: "Tungsten", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13.75rem;
  line-height: 80%;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.clip-text {
  width: 100%;
  color: white;
  background-clip: text;
  -webkit-background-clip: text;
  clip-path: inset(0% 19.9% 0% 19.2%);
}

.text-outline {
  color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;
}

.slide-item--active img {
  border-color: green;
}

.slide-item--prev img {
  border-color: yellow;
}

.slide-item--next img {
  border-color: blue;
}
